
# MacOS ignored files
.DS_store

# Default ignored files
Proyecto-MRS.iml
/workspace.xml
.idea/

/out

# Ignored files NetBeans
/nbproject
/build
build.xml
manifest.mf

# Archivos que se crean
Inventario.bin
ListaOrdenes.bin
AgendaRestaurante.bin
ListaUsuarios.bin
Menu.bin
*.class
